@{
    ViewBag.Title = "Product";
}
<div class="breadcrumb padding-10 font">
    <a href="index.html">Domů</a> > <a href="index.html">Dívčí boty</a> > <a href="index.html">Tenisky</a>
</div>
<div class="product padding-10 font">
    <div class="img-description-flex">
        <div class="images">
            <a class="pri" href="">
                <img src="~/img/bota1.png" alt="boot-primary">
            </a>
            <a class="sec" href="">
                <img src="~/img/bota2.png" alt="boot-second">
            </a>
            <a class="thi" href="">
                <img src="~/img/bota3.png" alt="boot-third">
            </a>
            <a class="fou" href="">
                <img src="~/img/bota4.png" alt="boot-fourth">
            </a>
        </div>
        <div class="product-description">
            <div class="header-img">
                <div class="heading">
                    <h1>Benjamid&nbsp;Velctro Dark Grey</h1>
                </div>
            </div>
            <div class="description not-mobile">
                Tyhle botky mají styl! Kožené barefoot tenisky vhodné na užší až normální nožku. Vyrobené z kvalitní
                hladké kůže v kombinaci s textilem. Tenká podešev přesahuje přes prsty, aby byla botka chráněná před
                poškozením.
            </div>
            <hr>
            <div class="product-properties">
                <div class="color">
                    <h3>Barva</h3>
                    <div class="radios-color">
                        <label class="radio-btn">
                            <input type="radio" name="color" checked>
                            <span class="check blue"></span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="color">
                            <span class="check black"></span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="color">
                            <span class="check red"></span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="color">
                            <span class="check blue"></span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="color">
                            <span class="check green"></span>
                        </label>
                    </div>
                </div>
                <div class="size">
                    <h3>Velikost</h3>
                    <div class="radios-size">
                        <label class="radio-btn">
                            <input type="radio" name="size">
                            <span class="check">21</span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="size" disabled>
                            <span class="check"> 22</span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="size">
                            <span class="check"> 23</span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="size" checked>
                            <span class="check">24</span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="size">
                            <span class="check">25</span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="size">
                            <span class="check">26</span>
                        </label>
                        <label class="radio-btn">
                            <input type="radio" name="size">
                            <span class="check">27</span>
                        </label>
                    </div>
                </div>
            </div>
            <hr>
            <div class="price-cart">
                <div class="price-wrapper">
                    <h1>Skladem</h1>
                    <div class="strip">
                        699 Kč
                    </div>
                    <div class="price">
                        529 Kč
                    </div>
                </div>
                <div class="cart">
                    <button class="not-desktop">
                        <a href="demand.html"><img src="~/img/shop.svg" alt="cart">Do košíku</a>
                    </button>
                    <button class="not-mobile">
                        <a href="demand.html"><img src="~/img/shop.svg" alt="cart">Přidat do košíku</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="info-params-flex">
        <div class="info">
            <h2>Informace o produktu</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta dolorum incidunt
                recusandae vel. Amet beatae, ea error et iusto nam nesciunt nulla, numquam optio perspiciatis
                provident quasi, quis ratione?
            </p>
            <p>
                <span class="mid-heading">Sed quia consequuntur</span><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta dolorum incidunt
                recusandae vel. Amet beatae, ea error et iusto nam nesciunt nulla, numquam optio perspiciatis
                provident quasi, quis ratione?
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate dicta dolorum incidunt
                recusandae vel. Amet beatae, ea error et iusto nam nesciunt nulla, numquam optio perspiciatis
                provident quasi, quis ratione?
            </p>
        </div>
        <table class="params">
            <thead>
            <tr>
                <th colspan="2">Paremetry produktu</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Barva</th>
                <td>Tmavě modrá</td>
            </tr>
            <tr>
                <th>Druh</th>
                <td>Do deště, turistické</td>
            </tr>
            <tr>
                <th>Materiál</th>
                <td>Guma</td>
            </tr>
            <tr>
                <th>Určení</th>
                <td>Chlapecké</td>
            </tr>
            <tr>
                <th>Kód</th>
                <td>BG004-001</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="break break-not-mobile padding-10">
    <div class="line"></div>
    <div>
        <img src="~/img/feet.png" alt="feet">
    </div>
    <div class="line"></div>
</div>
<div class="offers font padding-10">
    <h1>Mohlo by se <span class="heading-offers">Vám&nbsp;líbit</span></h1>
    <div class="products-grid">
        @foreach (var item in ViewBag.Products) {
            <vc:Product-Card products="item"></vc:Product-Card>
        }
    </div>
</div>
<div class="break padding-10">
    <div class="line"></div>
    <div>
        <img src="~/img/feet.png" alt="feet">
    </div>
    <div class="line"></div>
</div>
<div class="tags font padding-10">
    <div class="skladem">
        <a href="" class="text-skladem">VŠE MÁME SKLADEM</a>
        <div class="img-skladem"></div>
    </div>
    <div class="zdarma">
        <a href="" class="text-zdarma">DOPRAVA ZDARMA</a>
        <div class="img-zdarma"></div>
    </div>
    <div class="velikost">
        <a href="" class="text-velikost">JAK MEŘIT VELIKOSTI</a>
        <div class="img-velikost"></div>
    </div>
</div>
<div class="newsletters font">
    <p class="heading">Nezmeškejte nové a výhodné&nbsp;akce</p>
    <p class="prompt">Zadejte svůj e-mail a obratem vám&nbsp;zašleme PDF s&nbsp;inspirací&nbsp;zdarma.</p>
    <form class="email-prompt" action="newsletter.php">
        <div class="email-input">
            <label for="email">
                <img src="~/img/mail.png" alt="mail">
            </label>
            <input class="font" id="email" type="email" name="email" required placeholder="Zadej svůj email...">
        </div>
        <button class="email-button">přihlásit</button>
    </form>
</div>