@{
    ViewBag.Title = "Košík - Objednáno";
}

<div class="body padding-10 font" style="padding-bottom: 5rem">
    <h2>Objednávna</h2>
    <h3>Objednávka se úspěšně odeslala a bude brzo vyřízena!</h3>
    <a asp-controller="Home" asp-action="Index" class="form-back">Zpět na domovskou stránku</a>
</div>