@{
    ViewData["Title"] = "Home";
}
<div class="slider font  not-mobile">
    <div class="products">
        <div class="blank"></div>
        <div class="text">
            <p>NOVÁ DÍVČÍ KOLEKCE<br>ŠETRNÁ&nbsp;K&nbsp;DĚTSKÝM&nbsp;NOHÁM</p>
            <h1>NEJEN DO MĚSTA, ALE&nbsp;I&nbsp;DO&nbsp;PŘÍRODY</h1>
            <a asp-action="Index" asp-controller="Products">
                <button class="slider-button">zobrazit produkty</button>
            </a>
        </div>
    </div>
    <div class="radios">
        <label class="radio-btn">
            <input checked name="slider" type="radio">
            <span class="check"></span>
        </label>
        <label class="radio-btn">
            <input name="slider" type="radio">
            <span class="check"></span>
        </label>
        <label class="radio-btn">
            <input name="slider" type="radio">
            <span class="check"></span>
        </label>
    </div>
</div>
<div class="types font padding-10">
    <a class="boy" href="">
        <div class="types-heading">KLUČIČÍ<br>BOTY</div>
    </a>
    <a class="girl" href="">
        <div class="types-heading">DÍVČÍ&nbsp;BOTY</div>
    </a>
    <a class="how" href="">
        <div class="types-heading">JAK&nbsp;SPRÁVNĚ VYBRAT?</div>
    </a>
</div>
<div class="break padding-10">
    <div class="line"></div>
    <div class="feet">
        <img alt="feet" src="img/feet.png">
    </div>
    <div class="line"></div>
</div>
<div class="offers font padding-10">
    <h1>Nejnovější kousky <span class="heading-offers">v&nbsp;naší&nbsp;nabídce</span></h1>
    <div class="products-grid">
        @foreach (var item in ViewBag.Products) {
            <vc:Product-Card products="item"></vc:Product-Card>
        }
    </div>
    <div class="all-offers-wrapper">
        <a asp-action="Index" asp-controller="Products" class="all-offers">
            <p>zobrazit celou nabídku</p>
        </a>
    </div>
</div>
<div class="break padding-10">
    <div class="line"></div>
    <div>
        <img alt="feet" src="img/feet.png">
    </div>
    <div class="line"></div>
</div>
<div class="tags font padding-10">
    <div class="skladem">
        <a class="text-skladem" href="">VŠE MÁME SKLADEM</a>
        <div class="img-skladem"></div>
    </div>
    <div class="zdarma">
        <a class="text-zdarma" href="">DOPRAVA ZDARMA</a>
        <div class="img-zdarma"></div>
    </div>
    <div class="velikost">
        <a class="text-velikost" href="">JAK MEŘIT VELIKOSTI</a>
        <div class="img-velikost"></div>
    </div>
</div>
<div class="newsletters font">
    <p class="heading">Nezmeškejte nové a výhodné&nbsp;akce</p>
    <p class="prompt">Zadejte svůj e-mail a obratem vám&nbsp;zašleme PDF s&nbsp;inspirací&nbsp;zdarma.</p>
    <form action="newsletter.php">
        <div class="email-prompt">
            <div class="email-input">
                <label for="email">
                    <img alt="mail" src="img/mail.png">
                </label>
                <input class="font" id="email" name="email" placeholder="Zadej svůj email..." required type="email">
            </div>
            <button class="email-button">přihlásit</button>
        </div>
    </form>
</div>