<div class="modal face" id="RemoveProduct">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title">Delete product</h4>
            </div>
            <div class="modal-body text-center">
                <b>Deleting this product will delete all its variants and all its orders! </b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" data-save="modal">Delete</button>
            </div>
        </div>
    </div>
</div>